<div class="card bg-light">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="titulo" class="col-form-label col-sm-3">Título</label>
          <div class="col-sm-6">
            <input name="titulo" type="text" class="form-control" placeholder="Titulo" maxlength="255" [(ngModel)]="juego.titulo">
          </div>
        </div>
        <div class="form-group row">
          <label for="fecha" class="col-form-label col-sm-3">Fecha</label>
          <div class="col-sm-6">
            <input name="fechaLanzamiento" type="date" placeholder="Fecha" class="form-control" [(ngModel)]="juego.fechaLanzamiento">
          </div>
        </div>
        <div class="form-group row">
          <label for="precio" class="col-form-label col-sm-3">Precio</label>
          <div class="col-sm-6">
            <input name="precio" type="number" min="0" placeholder="Precio" class="form-control" [(ngModel)]="juego.precio">
          </div>
        </div>
        <div class="form-group row">
          <label for="pegi" class="col-form-label col-sm-3">Pegi</label>
          <div class="col-sm-6">
            <input name="pegi" type="number" min="0" max="18" class="form-control" [(ngModel)]="juego.pegi">
          </div>
        </div>
        <div class="form-group row">
          <label for="categoria" class="col-form-label col-sm-3">Categoría</label>
          <div class="col-sm-6">
            <select name="companies" class="form-control" [(ngModel)]="juego.categoria">
              <option *ngFor="let categoriaOption of categorias" [ngValue]="categoriaOption.value">{{ categoriaOption.title }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="companies" class="col-form-label col-sm-3">Compañías</label>
          <div class="col-sm-6">
            <select name="companies" class="form-control" [(ngModel)]="juego.companies" [compareWith]="compareCompany" multiple>
              <option *ngFor="let companyOption of companies" [ngValue]="companyOption">{{ companyOption.nombre }}</option>
            </select>
          </div>
        </div>
      <div class="col-sm-6">
        <button class="btn btn-primary" (click)="create()" *ngIf="!juego.idJuego">Crear</button>
        <button class="btn btn-primary" (click)="update()" *ngIf="juego.idJuego">Editar</button>
        <button class="btn btn-secondary ml-2" routerLink="/juegos" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</div>